# Environment
PORT=20262
NODE_ENV=development

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=https://api.com

# Resend
RESEND_API_KEY=
EMAIL_FROM=

# JWT
JWT_USER_SECRET=emviwenirjebvirbrib
JWT_ADMIN_SECRET=vwbrtentntntwntnen4nt
JWT_USER_REFRESH_SECRET=tqntq3nt3nqtnqntntnt3
JWT_ADMIN_REFRESH_SECRET=ntq3njt3njnq3tnt3qt5j3ntqj5
JWT_RESET_PASSWORD_SECRET=t3n5jtn5jn3tqa3nj35tnj35qnj3qjn
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=1d

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Timezone
TZ=Africa/Luanda

# Postgres
DATABASE_URL=""